<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<a th:href="@{/new}"><button type="submit" class="btn btn-primary btn-lg">Register</button></a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="people:${list}">
        <th scope="row" th:text="${people.id}"></th>
        <td th:text="${people.name}"></td>
        <td th:text="${people.password}"></td>
        <td th:text="${people.email}"></td>

        <td><a th:href="@{/update/{id}(id=${people.id})}"><button type="button" class="btn btn-primary btn-lg">Update</button></a></td>
        <td><a th:href="@{/delete/{id}(id=${people.id})}"><button type="button" class="btn btn-primary btn-lg">Update</button></a></td>

    </tr>
    </tbody>
</table>
<footer class="panel-footer">
    <div th:if="${totalPage>1}">
    Total item:[[${totalItem}]] Page:[[${currentPage}]] of [[${totalPage}]]
        &nbsp;&nbsp; - &nbsp;
        <span th:each="i:${#numbers.sequence(1,totalPage)}" >
            <a th:href="@{'/list/'+${i}}">[[${i}]]</a>&nbsp; &nbsp;
        </span>
    </div>
</footer>
</body>
</html>